doctype 5
html
  head
    title
        block title
          |#{site.name}
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon',type='image/x-icon',href='/images/favicon.ico')
    meta(name="keywords",content="#{site.name}")
    meta(name="description",content="#{site.desc.substr(0,16)}")
    script.
        window.trelloKey = '#{site.trello.key}';
  body
      block header
        #hd.clearfix
          #ihd.container.clearfix
            .row
              #logo.span3
               h1
                a(href="/") 邮差猫
                 span beta
              #nav.span9.clearfix
               ul.clearfix.unstyled
                  li
                    a(href="/")
                      i.icon-home
                      |首页
                  li
                    a(href="/about")
                      i.icon-heart-empty
                      |关于本喵
                  - if (typeof(user) !== 'undefined' && user !== '')
                   li.usr-name.clearfix
                      - if (user.nickname)
                        img.avatar(src="#{user.avatar}",alt="#{user.nickname}",title="#{user.nickname}",rel="tooltip")
                      - else
                        p #{user.duoshuo.user_id}
                   //- li.subscribe
                   //-  a.go-to-subscribe(href="/subscribe") <i class="icon-group"></i> 订阅管理
                   //- li.mime
                   //-  a.go-to-mime(href="/mime") <i class="icon-wrench"></i> 个人设置
                   li.logout
                    a.go-to-logout(href="/signout") <i class="icon-off"></i> 登出
      block content
      block footer
        #ft
           #ift.container.clearfix
              .row
                  p.info.span5 &copy; #{new Date().getFullYear()} #{site.name} #{site.desc} 
                    span.copyright powered by #{sys.name} v#{sys.version}
                  .span7.by 
                    img(src='http://mailmao.b0.upaiyun.com/me.jpg',alt="brought to you by GuoYu",title="brought to you by GuoYu")
                    a(href="http://weibo.com/137601206") Designed by GuoYu
      script(src='/javascripts/lib/jquery-latest.min.js')
      script(src='/javascripts/lib/bootstrap.min.js')
      block js